main
    section.skills 
        .container
            .skills-wrapper
                .skills-wrapper-item.slideInLeft.wow
                    h1.skills-wrapper-item-title Что 
                        span.skills-title--mod ты сможешь
                    h1.skills-wrapper-item-title после обучения
                    ul.skills-list 
                        li.skills-list-item Свободно разговаривать на иврите
                        li.skills-list-item Понимать ивритоговорящих собеседников
                        li.skills-list-item Устроиться на работу по профессии
                        li.skills-list-item Понять структуру языка и пользоваться ей с легкостью
                img(src="img/youtube.webp", alt="youtube").skills-wrapper-item.slideInRight.wow
        section.program 
                .container
                    .program-title
                        h1.program-title-item 
                            | Как проходит
                            br
                            | курс
                    .program-wrapper 
                        .program-wrapper-video
                            <iframe class="u-video-3" allowfullscreen="allowFullScreen" src="https://www.youtube.com/embed/bIHAlZBoHXk?ecver=1&amp;autoplay=1&amp;iv_load_policy=3&amp;rel=0&amp;yt:stretch=16:9&amp;autohide=1&amp;color=red&amp;width=560&amp;width=560" width="560" height="315" allowtransparency="true" frameborder="0"><div style="text-align: center;">></div><script type="text/javascript">function execute_YTvideo(){return youtube.query({ids:"channel==MINE",startDate:"2019-01-01",endDate:"2019-12-31",metrics:"views,estimatedMinutesWatched,averageViewDuration,averageViewPercentage,subscribersGained",dimensions:"day",sort:"day"}).then(function(e){},function(e){console.error("Execute error",e)})}</script></iframe>  
                            .preview-btn
                                a(href="#footer").preview-btn-callback.btn-callback--mod Получить бесплатные уроки
                        .program-wrapper-item.slideInRight.wow
                            h2.program-wrapper-item-subtitle 90 видеуроков
                            table
                                tbody 
                                    tr
                                        th 
                                            | Слова и
                                            br
                                            | выражения 
                                        th 
                                            | Все глаголы 
                                            br
                                            | во всех временах
                                        th 
                                            | Союзы, 
                                            br
                                            | предлоги
                            h4.program-item-info Конспекты уроков + домашние задания
                            ul.program-list 
                                
                                li.program-list-item Частные уроки с гибким графиком
                                li.program-list-item Обратная связь 24/7
                                li.program-list-item Мировые хиты, стихи любимых поэтов в#[br]моём авторском переводе на иврит
                                li.program-list-item Тест на разговорный иврит в конце курса
                                li.program-list-item Аттестат об окончании курса
    section.audit 
        .container 
            .audit-title
                h2.audit-title-item Для кого
                p.audit-title-item создан мой курс
            .audit-wrapper 
                .audit-wrapper-item
                    .audit-wrapper-item-up
                        svg(id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 845.25 1076.73")
                            path(fill="#f4b85c"
                                d="M672,719.91C658.11,699.05,608.27,615,629.63,509.73H491.88s14.08,93.42,0,125.92C483.41,655.11,462,692,446.17,718.46c-209.75,37.2-318,174.9-318,361.54H973.44C973.44,898.4,851,759.65,672,719.91Z"
                                transform="translate(-128.2 -3.27)")
                            path(fill="#dbc797"
                                d="M678.76,721.53c-106.71,90-190.25,33.52-230.06-7.49l-2.53,4.29c-209.75,37.22-318,174.92-318,361.53H973.44C973.44,900.59,854,763.27,678.76,721.53Z"
                                transform="translate(-128.2 -3.27)")
                            path(fill="#f5e5ba"
                                d="M908.64,1079.86h64.8c0-179.27-119.46-316.59-294.68-358.33-106.71,90-190.25,33.52-230.06-7.49l-2.53,4.29c-52.45,9.3-98.54,24.89-138.2,45.95Z"
                                transform="translate(-128.2 -3.27)")
                            path(fill="#879291" d="M315.78,195.8s-73,153.5-65.21,327.16,327.64,87.8,327.64,87.8l-98.61-415Z"
                                transform="translate(-128.2 -3.27)")
                            path(fill="#879291" d="M796.56,206.07S850,349.3,842.24,523s-327.63,87.8-327.63,87.8l98.56-415Z"
                                transform="translate(-128.2 -3.27)")
                            path(fill="#f4b85c"
                                d="M789.09,297.11c0,147.34-103.26,307.12-235.82,307.12S309,444.45,309,297.11,416.47,30.33,549.05,30.33,789.09,149.77,789.09,297.11Z"
                                transform="translate(-128.2 -3.27)")
                            path(fill="#d94c52"
                                d="M293.37,1079.86H825.29c-7.31-72.9-5-173.5,42.43-255.61-39.07-38.64-87.82-68.75-143.57-88.66-53.58,50.45-191.51,147.25-308.4-11C356.27,734,277.25,777,240.8,810.39,259.85,849,300.5,922.37,293.37,1079.86Z"
                                transform="translate(-128.2 -3.27)")
                            path(fill="#879291"
                                d="M309,297.11s231.77-24,300.1-151.78c0,0,63,149.84,193.07,151.78,0,0,14.08-247.69-156.71-284S329.68,40,310.7,229.83"
                                transform="translate(-128.2 -3.27)")
                            path(fill="#f3f7f8" d="M574.82,862.73a16.6,16.6,0,1,1-16.58-16.61A16.6,16.6,0,0,1,574.82,862.73Z"
                                transform="translate(-128.2 -3.27)")
                            path(fill="#f3f7f8" d="M574.82,931.21a16.6,16.6,0,1,1-16.58-16.61A16.6,16.6,0,0,1,574.82,931.21Z"
                                transform="translate(-128.2 -3.27)")
                            path(fill="#f3f7f8" d="M574.82,995.29a16.6,16.6,0,1,1-16.58-16.61A16.58,16.58,0,0,1,574.82,995.29Z"
                                transform="translate(-128.2 -3.27)")
                            path(fill="#f3f7f8" d="M574.82,1053.41a16.6,16.6,0,1,1-16.58-16.61A16.6,16.6,0,0,1,574.82,1053.41Z"
                                transform="translate(-128.2 -3.27)")
                            path(fill="#dbebf7" d="M393.33,310.43A79.86,79.86,0,1,0,520.5,405.09Z" transform="translate(-128.2 -3.27)")
                            path(fill="#dbebf7" d="M597.24,310.43a79.85,79.85,0,1,0,127.14,94.66Z" transform="translate(-128.2 -3.27)")
                            path(fill="#dc7422"
                                d="M450.1,280.32a84.07,84.07,0,1,0,84,84.06A84,84,0,0,0,450.1,280.32Zm0,161.36a77.3,77.3,0,1,1,77.26-77.3A77.31,77.31,0,0,1,450.1,441.68Z"
                                transform="translate(-128.2 -3.27)")
                            path(fill="#dc7422"
                                d="M652.87,280.32A84.07,84.07,0,1,0,737,364.38,84.07,84.07,0,0,0,652.87,280.32Zm0,161.36a77.3,77.3,0,1,1,77.31-77.3A77.29,77.29,0,0,1,652.87,441.68Z"
                                transform="translate(-128.2 -3.27)")
                            path(fill="#dc7422" d="M525.44,360s27.67-17.13,52,0l-7.88,5.44s-12.14-16.95-36.29,0Z"
                                transform="translate(-128.2 -3.27)")
                            rect(fill="#dc7422" x="230.49" y="349.14" width="11.98" height="25.55")
                            rect(fill="#dc7422" x="602.77" y="349.14" width="11.99" height="25.55")
                            path(fill="#dc7422"
                                d="M784.32,356.54c-24.26-3-41.37-4.13-41.37-4.13v26c7.36-6.16,21.78-9.09,39.5-9.57C783.17,364.6,783.83,360.43,784.32,356.54Z"
                                transform="translate(-128.2 -3.27)")
                            path(fill="#dc7422"
                                d="M313.25,356.54c26.66-3,45.44-4.13,45.44-4.13v26c-8.1-6.16-23.93-9.09-43.36-9.57C314.52,364.6,313.82,360.43,313.25,356.54Z"
                                transform="translate(-128.2 -3.27)")
                            path(fill="#ea6a78"
                                d="M822.58,1034.66c-1.83-66.09,6.89-144.16,45.14-210.41-39.07-38.64-87.82-68.75-143.57-88.66-53.58,50.45-191.51,147.25-308.4-11-33.32,5.31-72.59,21.2-107.26,39.93Z"
                                transform="translate(-128.2 -3.27)")
                        h2.audit-wrapper-item-up-title Исследователь
                    .audit-wrapper-item-down
                        p.audit-wrapper-item-down-desc Для тех, кому интересен иврит и стоящие за ним история и культура
                .audit-wrapper-item
                    .audit-wrapper-item-up
                        svg(id="Layer_2" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1057.2 982.78")
                            path(fill="#f4b85c"
                                d="M648.94,769.21c-12.25-18.36-56-92.2-37.26-184.73H490.59s12.4,82.13,0,110.66c-7.41,17.09-26.23,49.51-40.17,72.8C266.14,800.63,171,921.6,171,1085.62H913.79C913.79,926,806.17,804.12,648.94,769.21Z"
                                transform="translate(-13.8 -102.83)")
                            path(fill="#e9ecee"
                                d="M768.15,632c-59.87,55.93-138.86,90.26-225.77,90.26s-166-34.39-225.92-90.43C116.59,703.79,13.8,870,13.8,1085.62H1071C1071,872.55,950.81,704.48,768.15,632Z"
                                transform="translate(-13.8 -102.83)")
                            path(fill="#d5d6d8"
                                d="M549.49,721.89c-2.39.05-4.71.35-7.11.35-87,0-166-34.39-225.92-90.43C116.59,703.79,13.8,870,13.8,1085.62H549.49Z"
                                transform="translate(-13.8 -102.83)")
                            path(fill="#f4b85c" d="M387.62,475.58" transform="translate(-13.8 -102.83)")
                            path(fill="#c0321f"
                                d="M140.09,743A418.21,418.21,0,0,0,60.84,858.18L171,912.36l66.92-124.44Zm27.71,156.8L74,853.66a355.9,355.9,0,0,1,67.52-98.1l83.34,38.25Z"
                                transform="translate(-13.8 -102.83)")
                            circle(e fill="#5161a0" cx="793.58" cy="809.52" r="54.06")
                            circle(e fill="#ffcf00" cx="814.53" cy="798.31" r="11.21")
                            path(fill="#ffcf00" d="M799.3,901.14a11.23,11.23,0,1,1-11.24-11.21A11.23,11.23,0,0,1,799.3,901.14Z"
                                transform="translate(-13.8 -102.83)")
                            path(fill="#ffcf00" d="M818.6,935.27a11.22,11.22,0,1,1-11.24-11.22A11.22,11.22,0,0,1,818.6,935.27Z"
                                transform="translate(-13.8 -102.83)")
                            path(fill="#5161a0" d="M999.32,824a461.89,461.89,0,0,0-63.62-81.36l-72.59,61.53,69.63,85.72Z"
                                transform="translate(-13.8 -102.83)")
                            ellipse(se fill="#a7b4dc" cx="549.47" cy="440.7" rx="336.44" ry="336.46"
                                transform="translate(88.45 882.05) rotate(-89.32)")
                            path(fill="#322f2c"
                                d="M549.2,762.81a321,321,0,0,0,228.92-95.62c-38.85-40.35-116.89-85.26-228.5-85.26-108.75,0-200.27,36.31-228.8,85.86A321,321,0,0,0,549.2,762.81Z"
                                transform="translate(-13.8 -102.83)")
                            path(fill="#f4b85c"
                                d="M753.33,443.51c0,129.5-90.72,269.89-207.24,269.89S331.47,573,331.47,443.51,425.91,169.73,542.4,169.73,753.33,314,753.33,443.51Z"
                                transform="translate(-13.8 -102.83)")
                            path(fill="#f4f7fa"
                                d="M726.19,619.58c-38.58,70.83-102.83,123.83-177.28,123.83-74.78,0-142.2-53.44-183-124.72-27.23,13.67-47.72,30.44-58.91,49.1,60.74,58.67,144.81,95,237.77,95,93.23,0,177.51-36.61,238.31-95.62C772.09,649.17,752.31,632.94,726.19,619.58Z"
                                transform="translate(-13.8 -102.83)")
                            path(fill="#3c3c3b"
                                d="M392.81,344.86s142.91,92,298.6-4.24c0,0-11.52,93.15,62.34,117.5,54.92-217.74-36-316.06-172.79-301-176,19.41-330.26-34.75-245.19,329.42C335.77,486.56,393.08,433.73,392.81,344.86Z"
                                transform="translate(-13.8 -102.83)")
                            path(fill="#c6d0eb" opacity="0.67"
                                d="M540.84,114.45c-178,0-322.28,144.28-322.28,322.26,0,5.92.58,11.7.88,17.55C278.53,365,566.6-19.15,861.15,471.57a326.2,326.2,0,0,0,2-34.86C863.11,258.73,718.8,114.45,540.84,114.45Z"
                                transform="translate(-13.8 -102.83)")
                            path(fill="#96765e"
                                d="M549.47,102.83c-186.62,0-337.86,151.26-337.86,337.86S362.85,778.57,549.47,778.57,887.36,627.3,887.36,440.69,736.08,102.83,549.47,102.83Zm0,660c-177.9,0-322.12-144.21-322.12-322.12s144.22-322.1,322.12-322.1,322.11,144.22,322.11,322.1S727.36,762.81,549.47,762.81Z"
                                transform="translate(-13.8 -102.83)")
                        h2.audit-wrapper-item-up-title Репатриант
                    .audit-wrapper-item-down
                        p.audit-wrapper-item-down-desc Для тех, кто репатриировался в Израиль и хочет быстро и непринужденно интегрироваться в местную жизнь
                .audit-wrapper-item
                    .audit-wrapper-item-up
                        svg(id="Layer_3" data-name="Layer 3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 729.14 1063.18")
                            path(fill="#f4b85c"
                                d="M663.61,769.41c-12-18-55-90.5-36.58-181.34H508.18s12.18,80.62,0,108.63c-7.29,16.78-25.76,48.59-39.43,71.46C287.85,800.24,194.48,919,194.48,1080H923.61C923.61,923.35,818,803.68,663.61,769.41Z"
                                transform="translate(-194.48 -16.82)")
                            path(fill="#d94c52"
                                d="M680.29,773.54l-.15-.2a1,1,0,0,0-.17.1l-.48-.15-.53.76c-104.33,72.41-230,1.78-234-.51l-.21-.25c-165,38.08-250.24,153.06-250.24,306.71H923.62C923.62,931.57,821.58,814.39,680.29,773.54Z"
                                transform="translate(-194.48 -16.82)")
                            path(fill="#ea6a78" fill-rule="evenodd"
                                d="M559.05,806.22c-62.13-3.49-111.62-31.26-114.11-32.68l-.21-.25c-165,38.08-250.24,153.06-250.24,306.71H559.05Z"
                                transform="translate(-194.48 -16.82)")
                            path(fill="#f4b85c"
                                d="M766.1,421.2c0,127.13-89.06,264.94-203.43,264.94S352,548.33,352,421.2s92.71-268.74,207.07-268.74S766.1,294.12,766.1,421.2Z"
                                transform="translate(-194.48 -16.82)")
                            path(fill="#f4b85c" d="M407.1,497.7" transform="translate(-194.48 -16.82)")
                            path(fill="#ea6a78" fill-rule="evenodd"
                                d="M618.67,587.24c0,2.56-3.46,4.63-7.74,4.63H523.11c-4.27,0-7.74-2.07-7.74-4.63h0c0-2.57,3.47-4.64,7.74-4.64h87.82c4.28,0,7.74,2.07,7.74,4.64Z"
                                transform="translate(-194.48 -16.82)")
                            path(fill="#59402d"
                                d="M817.7,250.37c-13.23-34.89-59.48-109.62-140.42-127.45-30.82-6.8-73.38-10.47-117.28-10.69v0l-1.21,0-1.23,0v0c-43.88.22-86.44,3.89-117.27,10.69-81,17.83-127.2,92.56-140.42,127.45S353.22,410.1,353.22,410.1c41.29-6.6,70.19-136.71,70.19-136.71,39.91,27.26,88.39,36,134.15,36.15v.06c.41,0,.81,0,1.23,0l1.21,0v-.06c45.76-.18,94.25-8.89,134.15-36.15,0,0,28.92,130.11,70.2,136.71C764.35,410.1,830.92,285.27,817.7,250.37Z"
                                transform="translate(-194.48 -16.82)")
                            path(fill="#d55698"
                                d="M674.23,49.79c-2.91-.65-5.68-1.38-8.52-2.06l3.4-11.19a15.28,15.28,0,0,0-29.25-8.88l-3.7,12.2C562.92,18.71,508.82-4.5,407.1,53c0,0-217,127.09-11.15,162.47S823.83,386,857.61,305.55,796.49,77.13,674.23,49.79Z"
                                transform="translate(-194.48 -16.82)")
                            path(fill="#e87fb0"
                                d="M559.05,19.7C516.16,12.63,471,16.86,407.1,53c0,0-217,127.09-11.15,162.47,54.52,9.37,110.12,25.74,163.1,43.23Z"
                                transform="translate(-194.48 -16.82)")
                            path(fill="#39485d"
                                d="M559.05,787.17c-28.76-4.69-38.06-23.62-46.25-37.12-17-28,4.78-74.53,4.78-74.53C332.73,723.11,311.23,832,311.23,832l61.6-35.22c33.61,114.8,131,153.95,186.22,152.67Z"
                                transform="translate(-194.48 -16.82)")
                            path(fill="#59402d"
                                d="M576.69,674.88a10.22,10.22,0,0,1-10.22,10.22h0a10.21,10.21,0,0,1-10.22-10.22V623.4a10.21,10.21,0,0,1,10.22-10.22h0a10.22,10.22,0,0,1,10.22,10.22Z"
                                transform="translate(-194.48 -16.82)")
                            path(fill="#59402d" fill-rule="evenodd" d="M564.46,557.51s-26.06,25.22-72.34,12.79c0,0,18.24,13.63,68.52,3.44Z"
                                transform="translate(-194.48 -16.82)")
                            path(fill="#59402d" fill-rule="evenodd" d="M566.47,557.51s26.06,25.22,72.34,12.79c0,0-18.24,13.63-68.51,3.44Z"
                                transform="translate(-194.48 -16.82)")
                            path(fill="#323e50"
                                d="M624.13,672.68s13,43,7,69.59c-3.91,17.37-27.35,46-57.9,46-40.22,0-51-22.71-60.45-38.23-17-28,4.78-74.53,4.78-74.53C332.73,723.11,311.23,832,311.23,832l61.6-35.22c-2.12-7.24,45.78,164.52,194.14,152.34,53.76,4.41,279.09-89,199.13-140.65S624.13,672.68,624.13,672.68Z"
                                transform="translate(-194.48 -16.82)")
                        h2.audit-wrapper-item-up-title Ученик
                    .audit-wrapper-item-down
                        p.audit-wrapper-item-down-desc Для тех, кто уже знает иврит, но хотел бы поднять свой уровень и узнать что-то новое
                .audit-wrapper-item
                    .audit-wrapper-item-up
                        svg(id="Layer_2" data-name="Layer 4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 838.25 1067.82")
                            path(class="cls-1" d="M312.36,203.12s-72.3,265.34-64.6,565.52S572.28,920.42,572.28,920.42L474.6,203.12Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-1" d="M789,219.3S777.94,460.2,892,709c109.32,238.51-319.71,45.57-319.71,45.57L607,203.12Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-2"
                                d="M665.33,722.89c-13.81-20.68-63.23-104-42.06-208.44H486.66s14,92.65,0,124.88c-8.39,19.3-29.63,55.85-45.33,82.13C233.32,758.35,126,894.91,126,1080H964.24C964.24,899.9,842.79,762.31,665.33,722.89Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-3"
                                d="M683.22,727.59,550,898.47,441.33,721.32A489.63,489.63,0,0,0,340,750.38v329.48H781.41V767.24A419.72,419.72,0,0,0,683.22,727.59Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-4"
                                d="M440.8,721.43c-42.35,7.57-80.27,19.45-114.23,34.84v323.59H547.5c.22-49.78.34-112.74.38-183.79Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-5" d="M458.33,731.28A16.32,16.32,0,1,1,442,715,16.32,16.32,0,0,1,458.33,731.28Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-5" d="M458.33,755.48A16.32,16.32,0,1,1,442,739.15,16.32,16.32,0,0,1,458.33,755.48Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-5" d="M685.68,753.58a16.32,16.32,0,1,1-16.32-16.33A16.32,16.32,0,0,1,685.68,753.58Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-5" d="M687.58,731.28A16.32,16.32,0,1,1,671.26,715,16.32,16.32,0,0,1,687.58,731.28Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-5" d="M570,888.39a27.78,27.78,0,1,1-37.18-12.68A27.78,27.78,0,0,1,570,888.39Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-5" d="M568.74,893.36A27.78,27.78,0,1,1,604,876,27.77,27.77,0,0,1,568.74,893.36Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-5" d="M604.56,854.58a27.78,27.78,0,1,1,35.27-17.32A27.78,27.78,0,0,1,604.56,854.58Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-5" d="M639.88,814.23a27.79,27.79,0,1,1,35.28-17.33A27.79,27.79,0,0,1,639.88,814.23Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-5" d="M449.35,814.23a27.79,27.79,0,1,1,35.28-17.33A27.79,27.79,0,0,1,449.35,814.23Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-5" d="M480.55,854.58a27.78,27.78,0,1,1,35.28-17.32A27.77,27.77,0,0,1,480.55,854.58Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-5" d="M508.35,893.36A27.78,27.78,0,1,1,543.63,876,27.77,27.77,0,0,1,508.35,893.36Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-5"
                                d="M368.46,635c0,4.74,1.9,8.6,4.25,8.6h0c2.33,0,4.25-3.86,4.25-8.6V454.17c0-4.74-1.92-8.59-4.25-8.59h0c-2.35,0-4.25,3.85-4.25,8.59Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-5" d="M395.78,629.38a23.07,23.07,0,1,1-23-23.08A23.06,23.06,0,0,1,395.78,629.38Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-5"
                                d="M706.38,635c0,4.74,1.9,8.6,4.26,8.6h0c2.32,0,4.25-3.86,4.25-8.6V454.17c0-4.74-1.93-8.59-4.25-8.59h0c-2.36,0-4.26,3.85-4.26,8.59Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-5" d="M733.71,629.38a23.07,23.07,0,1,1-23.05-23.08A23.06,23.06,0,0,1,733.71,629.38Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-2"
                                d="M781.41,303.6c0,146.12-102.4,304.57-233.86,304.57S305.29,449.72,305.29,303.6,411.88,39,543.36,39,781.41,157.47,781.41,303.6Z"
                                transform="translate(-125.99 -12.18)")
                            path(class="cls-1"
                                d="M305.29,303.6S535.15,279.82,602.9,153.06c0,0,62.45,148.61,191.47,150.54,0,0,14-245.64-155.41-281.7s-313.15,26.68-332,215"
                                transform="translate(-125.99 -12.18)")
                        h2.audit-wrapper-item-up-title Практик

                    .audit-wrapper-item-down
                        p.audit-wrapper-item-down-desc Для тех, кто чувствует себя неуверенно в разговоре и считает, что ему недостаточно практики
            form.audit-forms(action="send.php")
                input(type="text" placeholder="Ваше имя и фамилия").audit-forms-form(name="name", required)
                input(type="text" placeholder="Ваш номер телефона").audit-forms-form#phone-form(name="phone", required)
                input(type="email" placeholder="Ваш email адрес").audit-forms-form(name="email", required)
                button.audit-forms-btn Записаться
    section.author#author 
        .container 
            h1.author-title Обо мне
            .author-wrapper 
                .author-wrapper-item
                    h1.author-wrapper-item-title Меня зовут Алексей Ташаев
                    p.author-wrapper-item-desc Я приехал в Израиль #[span по программе Наале в 2001 году, не зная ни одного слова на иврите] и буквально #[span влюбился] в этот интереснейший язык. Уже через полгода я свободно разговаривал на иврите, а через год уже изучал театральное искусство, как предмет в школе, вместе с коренными израильтянами.
                    h3.author-wrapper-item-subtitle 2004-2007 - Армия Обороны Израиля 
                    p.author-wrapper-item-desc Знание иврита очень помогло мне добиться звания #[span командира] в Армии Обороны Израиля в войсках особого назначения. Ведь, помимо физической подготовки и специальных знаний, для исполнения этой должности требовалось совершенное знание языка.
                    h3.author-wrapper-item-subtitle 2008-сегодня - Режиссер, Актер
                    p.author-wrapper-item-desc Будучи #[span единственным русскоязычным] израильтянином в театральном училище "Семинар-а-Кибуцим" в Тель-Авиве, я окончил его с отличием, получив премию #[span "Актёр года".] Там же начал писать стихи и песни на иврите. На сегодня я являюсь автором более 700 стихотворений и 200 песен.
                    h3.author-wrapper-item-subtitle 2016-сегодня - Преподаватель
                    p.author-wrapper-item-desc В 2016 году мне поступило предложение от #[span Министерства абсорбции] подготовить #[span спектакль об иврите] для новых репатриантов. Был создан обучающий спектакль, благодаря которому репатрианты, #[span не знавшие и пары слов, заговорили в течении часа.] После этого мне начали поступать предложения обучать людей, и на сегодняшний день у меня постоянно #[span занимаются более 100 человек в месяц из 15 стран]
                img(src="img/author.webp", alt="author").author-wrapper-item.wow.rotateInUpRight
    section.tarif#tarif
        .container 
            h1.tarif-title Стоимость
            .tarif-wrapper
                .tarif-wrapper-item
                    h2.tarif-wrapper-item-title Стандартный
                    ul.tarif-list
                        li.tarif-list-item 90 видеуроков
                        li.tarif-list-item 10 уроков 1 на 1 с#[br]личным преподавателем
                        li.tarif-list-item Обратная связь в течение месяца
                        li.tarif-list-item Конспекты всех уроков с#[br]преподавателем
                        li.tarif-list-item Домашние задания
                        li.tarif-list-item Тест в конце курса
                        li.tarif-list-item Аттестат об окончании курса
                    .tarif-wrapper-item-price
                        h2.tarif-wrapper-item-price-content 1379₪ (395$)
                    a(href="#").tarif-wrapper-item-btn Выбрать
                .tarif-wrapper-item
                    h2.tarif-wrapper-item-title VIP
                    ul.tarif-list
                        li.tarif-list-item 90 видеуроков
                        li.tarif-list-item 18 уроков 1 на 1 с#[br]личным преподавателем
                        li.tarif-list-item Обратная связь в течение 2.5 месяцов
                        li.tarif-list-item Конспекты всех уроков с преподавателем
                        li.tarif-list-item Домашние задания
                        li.tarif-list-item Тест в конце курса
                        li.tarif-list-item Аттестат об окончании курса
                        li.tarif-list-item 3 консультации с основателем#[br]школы 1 на 1
                        li.tarif-list-item 2 песни-хита, переведенные#[br]Алексеем лично для вас
                    .tarif-wrapper-item-price
                        h2.tarif-wrapper-item-price-content 1779₪ (548$)
                    a(href="#").tarif-wrapper-item-btn Выбрать
                .tarif-wrapper-item
                    h2.tarif-wrapper-item-title Премиум
                    ul.tarif-list
                        li.tarif-list-item 90 видеуроков
                        li.tarif-list-item 24 урока 1 на 1 с#[br]личным преподавателем
                        li.tarif-list-item Обратная связь в течение 3.5 месяцов
                        li.tarif-list-item Конспекты всех уроков с преподавателем
                        li.tarif-list-item Домашние задания
                        li.tarif-list-item Тест в конце курса
                        li.tarif-list-item Аттестат об окончании курса
                        li.tarif-list-item 5 консультаций с основателем#[br]школы 1 на 1
                        li.tarif-list-item 4 песни-хита + 1 стихотворение, переведенные#[br]Алексеем лично для вас
                    .tarif-wrapper-item-price
                        h2.tarif-wrapper-item-price-content 1979₪ (610$)
                    a(href="#").tarif-wrapper-item-btn Выбрать
                .tarif-wrapper-item
                    h2.tarif-wrapper-item-title Премиум VIP
                    ul.tarif-list
                        li.tarif-list-item 90 видеуроков
                        li.tarif-list-item 24 урока 1 на 1 с#[br]#[span основателем школы]
                        li.tarif-list-item Обратная связь в течение 4.5 месяцов
                        li.tarif-list-item Конспекты всех уроков с преподавателем
                        li.tarif-list-item Домашние задания
                        li.tarif-list-item Тест в конце курса
                        li.tarif-list-item Аттестат об окончании курса
                        li.tarif-list-item #[span Неограниченно], вся обратная связь идёт от основателя школы
                        li.tarif-list-item 6 песен-хитов +3 стихотворения,#[br]переведенные Алексеем лично для вас
                    .tarif-wrapper-item-price
                        h2.tarif-wrapper-item-price-content 3979₪ (1227$)
                    a(href="#").tarif-wrapper-item-btn Выбрать
    section.reviews#reviews
        .container 
            h1.reviews-title Отзывы участников
                .reviews-wrapper 
                    .swiper-container 
                        .swiper-wrapper
                            .swiper-slide
                                <iframe width="405" height="540" src="https://www.youtube.com/embed/0gdowFJuiFA?showinfo=0&amp;rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                            .swiper-slide
                                <iframe width="405" height="540" src="https://www.youtube.com/embed/OSirQAKxtAs?showinfo=0&amp;rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                            .swiper-slide
                                <iframe width="405" height="540" src="https://www.youtube.com/embed/i8xKtQQ6wik?showinfo=0&amp;rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                            .swiper-slide
                                <iframe width="405" height="540" src="https://www.youtube.com/embed/wpcdFjrEZqM?showinfo=0&amp;rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                            .swiper-slide
                                <iframe width="405" height="540" src="https://www.youtube.com/embed/3nS70IF4SS0?showinfo=0&amp;rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                            .swiper-slide
                                <iframe width="405" height="540" src="https://www.youtube.com/embed/q9Jp8ezp4YY?showinfo=0&amp;rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        .swiper-button-prev.swiper-arrows    
                        .swiper-button-next.swiper-arrows
                    .reviews-btn 
                        a(href="https://www.instagram.com/stories/highlights/17863378670158266/").reviews-btn-item Больше отзывов 

